{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row">

        <!-- Shipping-Form Section -->

        <!-- Cart Section -->
        <div class="col-md-6">
            <div class="uk-width-xlarge uk-margin">
                <div class="uk-card uk-card-small uk-card-default uk-card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="6">
                                    <h2>Order Summary</h2>
                                    <h3><strong>Total: ${{ cart.get_cart_total|floatformat:'2' }}</strong></h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <div class="box-element">
                                <a class="btn btn-primary btn-lg" href="{% url 'cart' %}">&#x2190; Back to Cart</a>
                            </div>
                            {% for item in cartitems %}
                            <tr>
                                <td scope="row">
                                    <div id="cart_image">
                                        <img src="{{ item.product.image.url }}">
                                    </div>
                                </td>
                                <td>
                                    <h3>{{ item.product.name }}</h3>
                                </td>
                                <td>
                                    <h3>x{{ item.quantity }}</h3>
                                </td>
                                <td>
                                    <h3>${{ item.product.price }}</h3>
                                </td>
                                <td>
                                    <h3></h3>
                                </td>
                                <td>
                                    <h3>${{ item.get_total|floatformat:2 }}</h3>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <form action="{% url 'payment' cart.id %}" method="post">
                        {% csrf_token %}
                        
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{ settings.STRIPE_PUBLISHABLE_KEY }}"
                                data-amount="{{ cart.get_cart_total|floatformat:'2' }}00"
                                    data-name="Fashion Place"
                                    data-description="Shop with ease"
                                    data-currency="usd"
                                    data-email="{{ request.user.email }}"
                                    data-locale="auto">
                        </script>
                      </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}