{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row justify-content-center" style="text-align: center;">
       <strong><h4 style="font-size: 24px; font-weight: 600;">New Arrivals</h4></strong> 
    </div>
    <div class="row">
        {% for product in new_arrivals %}
        <div class="col-md-3 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <h4 class="card-text">${{ product.price }}</h4>
                    <a class="btn btn-primary addtocart" data-action='add' data-product="{{ product.product_id }}">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row justify-content-center" style="text-align: center;">
        <strong><h4 style="font-size: 24px; font-weight: 600;">Top Rated</h4></strong> 
    </div>
    <div class="row">
        {% for product in top_rated %}
        <div class="col-md-3 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <h4 class="card-text">${{ product.price }}</h4>
                    <a class="btn btn-primary addtocart" data-action='add' data-product="{{ product.product_id }}">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row justify-content-center" style="text-align: center;">
        <strong><h4 style="font-size: 24px; font-weight: 600;">Trending</h4></strong> 
    </div>
    <div class="row">
        {% for product in trending %}
        <div class="col-md-3 col-lg-3">
            <div class="card" style="width: 18rem;">
                <img src="{{ product.image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">{{ product.name }}</h3>
                    <h4 class="card-text">${{ product.price }}</h4>
                    <a class="btn btn-primary addtocart" data-action='add' data-product="{{ product.product_id }}">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}