{% extends 'base.html' %}

{% block title %}
<title>FashionPlace | Register</title>
{% endblock %}


{% block content %}
<div id = 'container'>
    <div class = 'header'>
      <h2>Create an account</h2>
    </div>
    <form action = '#' method = 'POST'>
      {% csrf_token %}
      <div id = 'form-control'>
        <label>Firstname:</label>
        {{register_form.first_name}}
      </div>
      <div id = 'form-control'>
          <label>Lastname:</label>
          {{register_form.last_name}}
        </div>
        <div id = 'form-control'>
          <label>Email:</label>
          {{register_form.email}}
        </div>
  
      <div id = 'form-control'>
          <label>Password:</label>
          {{register_form.password1}}
        </div>
  
       <div id = 'form-control'>
          <label>Confirm Password:</label>
          {{register_form.password2}}
        </div>
      
        {{register_form.errors}}

  
      <div id = 'haveAnAccount'>
        <p>Already have an account?</p>
        <a href = "{% url 'login' %}"><strong>Login</strong></a>
      </div>
      <button type = 'submit' id = 'submitButton'>Register</button>
    </form>
  </div>
  
  <script>
    let inputs = document.getElementsByTagName('input');
    for (let i = 0; i < inputs.length; i++) {
      if (inputs[i].type !== 'search') {
        inputs[i].classList.add('form-control');
      }
    }
  </script>
  
  {% endblock %}